@mixin Widgets {
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.widget-1{
    @include Widgets;
}