@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }   
    .contenedorImg {
    display: flex;
    flex-direction:column;
    align-items: center;
    }

}
